<footer class="bg-dark text-center p-4">

    <p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repellat, possimus vero aspernatur, minus alias ullam, facere sit voluptates enim ipsum maxime! Odio eaque vero similique non magnam aliquam cupiditate earum quae? Eligendi, placeat fugiat dolorem corporis dolor sint dignissimos explicabo praesentium delectus maxime laboriosam exercitationem aliquam nemo veniam error! dolor sit, amet consectetur adipisicing elit. Harum, velit! ipsum dolor sit amet consectetur adipisicing elit. Nobis quos, hic quasi, temporibus dolorem labore inventore eveniet nesciunt, quam ullam ipsum velit explicabo possimus. Tenetur fugit error facere blanditiis repellendus!</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>